body{
  margin: 0;
  padding: 0;
  color: #202020;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}

input{
  border: none;
  /* width: 80%; */
}

.main{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.container{
  display: grid;
  gap: 10px;
}
form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #989898;
  padding: 5px 10px;
}

.task{
  border-radius: 6px;
  border: 1px solid #989898;
  padding: 5px 10px;
  margin-bottom: 0.5em;
}

label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.deleteTask {
  display: block;
  width: 12px;
  height: 12px;
  --weight: 0px;
  --aa: 1px;
  --color: #202020;
  border: none;
  background:
    linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
    linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}
.btn__add {
  display: block;
  width: 14px;
  height: 14px;
  --weight: 0px;
  --aa: 1px;
  --color: #202020;
  border: none;
  background:
    linear-gradient(90deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
    linear-gradient(0deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}

form input:first-child{
    width: 80%;
}
  